#welcome {
	text-align: center;
	font-family: Garamond;
	font-size: 5rem;
	color: black;
	border-bottom: red 2px;
}

#intro {
	text-align: center;
	font-size:2.5rem;
	font-family: "Adobe Devanagari";
	color: black;
}

body{
	background-color: #000000;
	padding: 0px;
	margin: 0px;
}
#left-info{
	border:solid black 2px !important;
	background-color: #f1f1f1;
	color: black;
	font-family: Garamond;
	font-size: 2rem;
}

.panel-default{
	color: deeppink;
}
#right-info{
	border-right:solid black 2px !important;
	border-top:solid black 2px;
	border-bottom: solid black 2px;
	background-color: #f1f1f1;
	color: black;
	font-family: Garamond;
	font-size: 2rem;
}
#mid-info{
	border-bottom: solid black 2px;
	border-top: solid black 2px;
	color: black;
	background-color: #f1f1f1;
	font-family: Garamond;
	font-size: 2rem;
	border-right: solid black;
}